body 
{
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: sans-serif;
}

header
{

display: flex;
justify-content: space-around;
background-color: #1f2937;


}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 24px;
    
}

.main {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    gap: 48px;
    padding: 24px;
    flex-wrap: wrap;

}

.awesome {
display: flex;
flex-direction: column;
flex-basis: 25%;
align-items: flex-start;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards
{
    display: flex;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    background-color: #e5e7eb

}

.actionfull
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.action {
    background-color: #3882f6;
    display: flex;

}

#logo
{
    padding:20px 0;
}

#logo2
{
    padding:20px 0;
}

h1 {
    font-size: 48px; font-weight: 800; color: #f9faf8; margin: 0px;
}
h2 {
    font-size: 36px; font-weight: 800; color: #1f2937;

}
p {
    margin: 8px 0;
    color: #e5e7eb;
    font-size: 18px;
}

button {
    background-color: #3882f6;
    border: 0px;
    color: #e5e7eb;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 800;
    border-radius: 12px;
}